<aside>
  <h1>MENU</h1>

  <%# 名刺作成機能 %>
  <div>
    <h3 class="menu-title">名刺</h3>
    <ul>
      <li ><%= link_to "新規作成", new_card_path, class: "menu-item" %></li>
      <li class="menu-item">編集</li>
    </ul>
  </div>

  <%# 着信履歴登録機能 %>
  <div>
    <h3 class="menu-title">着信履歴</h3>
    <ul>
      <li class="menu-item">作成&編集</li>
    </ul>
  </div>

  <%# ユーザー詳細機能 %>
  <div>
    <h3 class="menu-title">ユーザー</h3>
    <% if user_signed_in? %>
     <ul>
        <li><%= link_to "詳細", user_path(current_user.id), class: "menu-item" %></li> 
        <li><%= link_to "メール通知", user_notices_path(current_user.id), class:"menu-item" %></li>
      </ul>
    <% end %>
  </div>

</aside>