.comment-list{ 
  height:200px;
  overflow-x: hidden;
  overflow-y: visible;
}
h4.graph-title {
  text-align: center;
}

.bio-resim-baddate {
  margin-left: 40px;
}

.phone-time-mode {
  margin-left: 40px;
}

.comment-form-notsiged {
  font-size: small;
}