.comment-list{ 
  height:150px;
  overflow-x: hidden;
  overflow-y: visible;
}
h4.graph-title {
  text-align: center;
}

.bio-resim-baddate {
  margin-left: 40px;
}

.phone-time-mode {
  margin-left: 40px;
}

.comment-form-notsiged {
  font-size: small;
}

.comment-text-area {
  width: 250px;
}

tr.graph-colum {
  border: solid 1px;
  padding-right: 15px;
  padding-left: 10px; 
}

th.graph-colum-title {
  font-size: 12px;
  border: solid 1px;
  padding-right: 10px;
  padding-left: 10px; 
  font-weight: bolder;
}

td.graph-colum-value {
  font-size: 12px;
  border: solid 1px;
  padding-right: 10px;
  padding-left: 10px; 
}

span.bad-date {
  font-weight: bold;
  color: red;
}