<%# ヘッダー %>
<%= render "shared/header"%>

<%# サイドメニュー %>
<%= render "shared/side-menu" %>

<%# カード一覧表示 %>
<div class="cards">
  <h1>共有カード一覧</h1>
    <%= render partial: "shared/card-format" , locals: { cards: @cards }%>
</div>

<%# フッター %>
<%= render "shared/footer" %>