<% if user_signed_in? %>
  <h2> ログインしています </h2>
<% end %>

<div class="user mb-5">
ユーザー系
<%= link_to "新規登録", new_user_registration_path, class:"btn btn-primary" %>
<%= link_to "ログイン", new_user_session_path, class:"btn btn-primary" %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-primary" %>
</div>

<div class="user">
カード系
<%= link_to "カードを作成", new_card_path, class:"btn btn-primary" %>
</div>

