 <%# ヘッダー %>
 <%= render "shared/header"%>

<div class="main-background"> 
  <div class="container">
    <div class="main row">
      <%# サイドメニュー %>
      <div class="side-menu col-2">
        <%= render "shared/side-menu" %>
      </div>
      <%# 共有名刺一覧表示 %>
      <div class="share-cards col-10">
        <h1 class="share-cards-title">共有名刺一覧</h1>
        <%= render partial: "shared/card-format" , locals: { cards: @cards }%>
      </div>
    </div>
  </div>
</div>
  <%# フッター %>
  <%= render "shared/footer" %>