<%= render "shared/header"%>

<%# カード投稿機能 %>
<%= render "shared/side-menu" %>

<%# カード一覧表示 %>
<div class="cards">
  <h1>共有カード一覧</h1>
 <%= render partial: "shared/card-format" , locals: { cards: @cards }%>
</div>

<%= render "shared/footer" %>

