/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap"; 

 a {
  text-decoration:none; 
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

#card-pull-down {
  list-style: none;
  margin-left: 16px;
  padding-left: 0;
}

#record-pull-down {
  list-style: none;
  margin-left: 16px;
  padding-left: 0;
}

header.background-image {
  color: white;
  background-image: image-url("header.jpg");
  width: 100vw;
}

footer {
  background-image: image-url("footer.jpg");
  width: 100vw;
  color: white;
  height: 50px;
  bottom: 0; 
  margin-top: 5px;
}

.name_field {
  width: 130px;
  margin-right: 40px;
}

.company_field {
  width: 150px;
  margin-right: 20px;
}

.log_in {
  color: white;
}