
.header-title {
  color: white;
}

.header {
  height: 120px;
}

.hidden {
  display: none;
}

.header-log-in {
  cursor: pointer;
}

#log-in-menu {
  position: relative;
  width: 70px;
  height: 25px;
}
#pull-down {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
}
.pull-down-list {
  color: white;
  cursor: pointer;
}
span:hover {
  opacity: 0.7;
}

.search-field {
  width: 220px;
}

